.partnerlogin-container {
    border-radius: 40px;
    padding: 60px 40px !important;
    margin-top: 75px;
}

.partnerlogin-container input {
    border: none;
    border-bottom: 1px solid var(--gray);
}